*{
    margin: 0;
  }
  
  .hero {
    display: flex;
    justify-content: center !important;
    align-items: center;
    background: #10151e;
  }
  
  .image{
    display: flex;
    margin: 0 5%;
    background: linear-gradient(to right, rgba(16, 21, 30, 1),rgba(16, 21, 30, 0.95), rgba(16, 21, 30, 0.25), rgba(16, 21, 30, 0.2)), url('https://www.sify.com/uploads/Pushpa_vd0m26dcijffe.jpg');
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .section{
    flex: 1;
  }
  
  .image h1{
    color:white;
    padding-top:5%;
    font-size: 30px;
  }